/*======================================================
 SUNLIT ARCHIVE
 version 0.1
======================================================*/

:root{

--paper:#fafaf7;
--paper-light:#fdfdfc;

--ice:#f1f5f8;
--mist:#e4eaee;

--line:#d9dee2;

--text:#222222;
--grey:#6d7278;

--blue:#7697b8;
--blue-soft:#dbe8f4;

--radius:0px;

--width:1180px;

--transition:220ms ease;

}

/*======================================================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{

scroll-behavior:smooth;

}

body{

background:var(--paper);

color:var(--text);

font-family:"EB Garamond",serif;

font-size:21px;

line-height:1.75;

min-height:100vh;

overflow-x:hidden;

position:relative;

}

/*======================================================*/
/* FRUTIGER LIGHT */
/*======================================================*/

body::before{

content:"";

position:fixed;

right:-250px;
top:-200px;

width:700px;
height:700px;

background:

radial-gradient(circle,
rgba(176,210,255,.20) 0%,
rgba(176,210,255,.08) 40%,
transparent 75%);

pointer-events:none;

filter:blur(35px);

z-index:-5;

}

body::after{

content:"";

position:fixed;

left:-180px;
bottom:-180px;

width:500px;
height:500px;

background:

radial-gradient(circle,
rgba(255,255,255,.9),
transparent 
